<section class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card is-fullwidth">
                    <div class="card-content">
                        <a class="card-avatar">
                            <img src="<%= profilepic %>" class="card-avatar-img">
                        </a>

                        <div class="card-user">
                            <div class="card-user-name">
                                <%= title %>
                            </div>
                            <span>
                                <a href="#">@<span><%= username %></span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= profilepic %>" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= title %>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= profilepic %>" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= title %>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= profilepic %>" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= title %>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= profilepic %>" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= title %>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="<%= profilepic %>" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <%= title %>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales volutpat molestie. Fusce vestibulum id velit et vulputate. Morbi interdum ullamcorper orci, in vestibulum lacus vestibulum sit amet. Sed condimentum rutrum nisl sagittis gravida. Pellentesque dapibus enim ut imperdiet congue. Cras sodales bibendum tellus, ut sagittis nibh lacinia at. Quisque ullamcorper dolor eu ultricies volutpat. Quisque pellentesque lorem id elit auctor, sit amet molestie nulla blandit. Nunc cursus nisi a nibh fringilla hendrerit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>